html:not(.js-focus-visible) :focus:not(:focus-visible) {
    outline: 0;
}

html:not(.js-focus-visible) :focus-visible,
html.js-focus-visible :focus {
    outline: 2px solid var(--color-link-dark);
}
