@import url('../node_modules/normalize.css/normalize.css');

:root {
    --background-base: #fff;
    --color-base: #333;

    --background-inverse: #333;
    --color-inverse: #fff;

    --font-weight-base: 400;
    --font-weight-title: 600;

    --line-height-base: 1.4;
    --line-height-title: 1.2;

    --border-color: #eee;

    --transition-duration-base: .1s;

    --cell-padding: 8px;

    --year-height: 40px;
    --genre-width: 160px;

    --bar-height: 40px;
}

:focus:not(:focus-visible) {
    outline: 0;
}
:focus-visible {
    outline: 2px solid #00f;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background-base);
    color: var(--color-base);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}
h1 {
    margin: 0;
}

img {
    max-width: 100%;
}
img[width],
img[height] {
    max-width: none;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

/* App */
#app {
    display: grid;
    grid-template-rows: auto 1fr auto; /* header main footer */
    min-height: 100%;
}
