@import url('../node_modules/normalize.css/normalize.css');

:root {
    --year-height: 38px;
    --genre-width: 150px;

    --font-weight-base: 400;
    --font-weight-extra: 600;

    --cell-padding: 8px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: var(--font-weight-base);
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-extra);
}
h1 {
    margin: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}
