@import url('../node_modules/normalize.css/normalize.css');

:root {
    --font-size-root: 62.5%;

    /* Colors */
    --color-darkest-rgb: 0, 0, 0;
    --color-darkest: #000;
    --color-dark: #333;
    --color-muted: #666;
    --color-light: #eee;
    --color-lightest: #fff;
    --color-lightest-rgb: 255, 255, 255;

    /* Typography */
    --font-family-basic: 'Roboto Mono', monospace;
    --font-size-basic: 1.5rem;
    --font-weight-basic: 400;
    --font-weight-title: 600;

    --line-height-basic: 1.4;
    --line-height-title: 1.2;

    /* Durations */
    --transition-duration-basic: .1s;

    /* Sizes */
    --indent-basic: 1.6rem;

    --year-height: 3.6rem;
    --genre-width: var(--year-height);

    --bar-height: 4.8rem;

    /* Cells */
    --cell-padding: calc(var(--indent-basic) / 2);
    --cell-background-color: #fafafa;

    /* Games */
    --game-release-unknown-background-color: #f5f5f5;
}

:focus:not(:focus-visible) {
    outline: 0;
}
:focus-visible {
    outline: 2px solid blue;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: var(--font-size-root, 62.5%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--color-lightest);
    color: var(--color-dark);
    font-family: var(--font-family-basic, monospace);
    font-weight: var(--font-weight-basic);
    font-size: var(--font-size-basic);
    line-height: var(--line-height-basic);
}

h1,
h2 {
    font-weight: var(--font-weight-title);
    line-height: var(--line-height-title);
}
h1 {
    margin: 0;
}

a {
    color: blue;
    transition: all var(--transition-duration-basic, 0s);
}
a:hover {
    text-decoration: none;
}
a.active {
    cursor: default;
    text-decoration: none;
}

ol,
ul {
    padding: 0;
    list-style: none;
}
